@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-loader {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(60deg, #FF79DA 30%, #9356DC 70%);
  -webkit-animation: fullscreen 3s;
          animation: fullscreen 3s;
  z-index: 1;
  font-size: 40px;
  visibility: hidden;
}

.alim {
  position: relative;
  font-size: 22px;
  -webkit-animation: grow1 .5s ease-in-out alternate;
          animation: grow1 .5s ease-in-out alternate;
}

.alim--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.alim--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.alim--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.alim--3 {
  padding-right: 15px;
}

.lettre {
  display: inline-block;
  font-weight: bold;
  font-family: 'Shrikhand', cursive;
  -webkit-animation: grow1 1.2s ease-in-out alternate forwards;
          animation: grow1 1.2s ease-in-out alternate forwards;
}

.lettre--0 {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}

.lettre--1 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.lettre--2 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.lettre--3 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.lettre--4 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.lettre--5 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.lettre--6 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.lettre--7 {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}

.lettre--0, .lettre--2 {
  padding-right: 15px;
}





.header__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
  padding: 20px;
  background: #eaeaea;
  font-weight: 500;
  -webkit-box-shadow: inset 0px 5px 3px #cfcfcf;
          box-shadow: inset 0px 5px 3px #cfcfcf;
}







.commander {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px;
}

.footer {
  position: relative;
  top: 200px;
}

@media screen and (min-width: 768px) {
  .section-loader {
    font-size: 72px;
  }
  .alim {
    font-size: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .section-loader {
    font-size: 72px;
  }
  .alim {
    font-size: 36px;
  }
  .alim--3 {
    padding-right: 15px;
  }
}



.commander {
  font-size: 28px;
}

@media screen and (min-width: 1024px) {

  .menuu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 100%;
    padding-right: 70px;
  }
  .menu {
    margin: 20px 0;
  }
  
  .menu--1 {
    width: 25%;
  }
  .menu--2 {
    width: 25%;
  }
  .menu--3 {
    width: 25%;
  }
  .footer {
    top: 300px;
  }
}

@-webkit-keyframes fullscreen {
  0% {
    opacity: 1;
    position: fixed;
  }
  100% {
    opacity: 0.95;
    position: fixed;
    visibility: visible;
  }
}

@keyframes fullscreen {
  0% {
    opacity: 1;
    position: fixed;
  }
  100% {
    opacity: 0.95;
    position: fixed;
    visibility: visible;
  }
}

@-webkit-keyframes grow1 {
  0% {
    -webkit-transform: scale(0) translateX(0%) rotate(0deg);
            transform: scale(0) translateX(0%) rotate(0deg);
  }
  95% {
    -webkit-transform: scale(1) translateX(50%) rotate(720deg);
            transform: scale(1) translateX(50%) rotate(720deg);
    color: #9356DC;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #99E2D0;
  }
}

@keyframes grow1 {
  0% {
    -webkit-transform: scale(0) translateX(0%) rotate(0deg);
            transform: scale(0) translateX(0%) rotate(0deg);
  }
  95% {
    -webkit-transform: scale(1) translateX(50%) rotate(720deg);
            transform: scale(1) translateX(50%) rotate(720deg);
    color: #9356DC;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #99E2D0;
  }
}

@-webkit-keyframes spin {
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  5% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes remplissage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

@keyframes remplissage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform-origin: center;
            transform-origin: center;
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 1;
  }
}

@-webkit-keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes opac {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes translate {
  from {
    visibility: visible;
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
  }
}

@keyframes translate {
  from {
    visibility: visible;
    -webkit-transform: translateX(60px);
            transform: translateX(60px);
  }
  to {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
    visibility: visible;
  }
}

@-webkit-keyframes plat {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    visibility: visible;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes plat {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    visibility: visible;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes effet-menu {
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes effet-menu {
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes menu {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    opacity: 0.4;
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 1;
  }
}

@keyframes menu {
  from {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  50% {
    opacity: 0.4;
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    opacity: 1;
  }
}

@-webkit-keyframes translate-2 {
  from {
    visibility: visible;
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    visibility: visible;
  }
}

@keyframes translate-2 {
  from {
    visibility: visible;
    -webkit-transform: translateX(90px);
            transform: translateX(90px);
  }
  to {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    visibility: visible;
  }
}
